<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<table>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Aparência</th>
		</tr>
		<tr>
			<td><%= data["game_indices"][0]["game_index"] %></td>
			<td><%= data["name"]%></td>
			<td><img src="<%= data['sprites']['front_default']%>"><td>

		</tr>

	</table>
</body>
</html>